# Everything
/*

# Git files
!LICENSE-scripts
!README.md

# Pack files
!pack.xml
!42x42Icon.png
!420x200Splash.png

# Config files
!config/

# Info files
!enchantingids.xml
!potions.xml

# Minetweaker
!scripts/
